<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue入门</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        [v-clock]{
            display: none !important;
        }
    </style>
</head>

<body>
    <div id="app" v-clock>
        <h1>{{message}}</h1>
        <ul>
            <li v-for="item in info">{{item}}</li>
        </ul>
        <ul>
            <li v-for="item in home" v-on:click="show(item['name'])">{{item["name"]}}</li>
        </ul>
    </div>
    <script src="index.js"></script>
</body>

</html>